# Video Game Sales (2000-2016)

## Tech Stack
Data Analysis: Pandas, Numpy <br>
Data Visualization: Matplotlib, Seaborn

#### 0. Imports

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

#### 1. Pulling Data

In [36]:
rawsalesDF = pd.read_csv("https://raw.githubusercontent.com/sh4ruyan/videoGameSalesAnalysis/refs/heads/main/Video_Games_Sales_as_at_22_Dec_2016.csv")

#### 2. Cleaning Data

In [75]:
rawsalesDF.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

Steps to take:<br>
2.1 Drop duplicates.<br>
2.2 Replace null values with column mean (if appropriate), or drop the row. <br>
2.2 Check datatypes, i.e. make sure the values in a column all have the same datatype and that the datatype is appropriate.<br>
2.3 Implement stylistic changes to better manage the <br>

2.1 Dropping duplicated.

In [ ]:

salesDF = rawsalesDF.drop_duplicates(subset=None, keep="first", ignore_index=False)

2.2 Replacing null values or dropping them.

In [ ]:
#Idea: If the missing value is in a categorical column, drop the row. 
#If it is in a numeric column, replace that value with the mean of that column.
#To save time, check the categorical columns first.

cat_columns = ["Name", "Platform", "Genre", "Publisher", "Developer", "Rating"]

for col in cat_columns:
    if

In [70]:
#Make sure values in the same column are the same data type

salesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6825 entries, 0 to 16706
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6825 non-null   object
 1   Platform         6825 non-null   object
 2   Year_of_Release  6825 non-null   float64
 3   Genre            6825 non-null   object
 4   Publisher        6825 non-null   object
 5   NA_Sales         6825 non-null   float64
 6   EU_Sales         6825 non-null   float64
 7   JP_Sales         6825 non-null   float64
 8   Other_Sales      6825 non-null   float64
 9   Global_Sales     6825 non-null   float64
 10  Critic_Score     6825 non-null   float64
 11  Critic_Count     6825 non-null   float64
 12  User_Score       6825 non-null   object
 13  User_Count       6825 non-null   float64
 14  Developer        6825 non-null   object
 15  Rating           6825 non-null   object
dtypes: float64(9), object(7)
memory usage: 906.4+ KB

In [71]:
#Notice how certain columns have "object" has a datatype. These are possibly columns with mixed datatypes. Let us check.

In [ ]:
object_dtype_list = []

for col in salesDF.columns.to_list():
    
    if salesDF[col].dtype==object:
        object_dtype_list.append(col)

print(object_dtype_list) #a list of columns with the "object" datatype

['Name', 'Platform', 'Genre', 'Publisher', 'User_Score', 'Developer', 'Rating']

In [73]:
mixed_dtype_list = []

for col in object_dtype_list:
    dtypes = salesDF[col].apply((lambda x: type(x))).value_counts()
    
    if len(dtypes)>1:
        mixed_dtype_list.append(col)
        

print(mixed_dtype_list)

[]

In [ ]:
#No columns have a mixed data type.

2.3 Stripping trailing whitespaces and converting string values to lowercase.

In [74]:
for col in salesDF.columns.to_list():
    for value in col: 
        value = value.strip()
        if type(value) == str:
            value = value.upper()