# Video Game Sales (2000-2016)

## Tech Stack
Data Analysis: Pandas, Numpy <br>
Data Visualization: Matplotlib, Seaborn

#### 0. Imports

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

#### 1. Pulling Data

In [84]:
rawsalesDF = pd.read_csv("https://raw.githubusercontent.com/sh4ruyan/videoGameSalesAnalysis/refs/heads/main/Video_Games_Sales_as_at_22_Dec_2016.csv")

#### 2. Cleaning Data

In [85]:
rawsalesDF.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

Steps to take:<br>
2.1 Drop duplicates.<br>
2.2 Replace null values with column mean (if appropriate), or drop the row. <br>
2.2 Check datatypes, i.e. make sure the values in a column all have the same datatype and that the datatype is appropriate.<br>
2.3 Implement stylistic changes to better manage the <br>

2.1 Dropping duplicated.

In [86]:

salesDF = rawsalesDF.drop_duplicates(subset=None, keep="first", ignore_index=False)

2.2 Replacing null values or dropping them.

In [88]:
#Idea: If the missing value is in a categorical column, drop the row. 
#If it is in a numeric column, replace that value with the mean of that column.
#To save time, check the categorical columns first.

cat_columns = ["Name", "Platform", "Genre", "Publisher", "Developer", "Rating"]

salesDF.dropna(axis=0)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001.0,Action,NewKidCo,0.01,0.00,0.00,0.00,0.01,46.0,4.0,2.4,21.0,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002.0,Fighting,Midway Games,0.01,0.00,0.00,0.00,0.01,81.0,12.0,8.8,9.0,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,Kojima Productions,M
16700,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+

In [89]:
#Make sure values in the same column are the same data type

salesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [90]:
#Notice how certain columns have "object" has a datatype. These are possibly columns with mixed datatypes. Let us check.

In [91]:
object_dtype_list = []

for col in salesDF.columns.to_list():
    
    if salesDF[col].dtype==object:
        object_dtype_list.append(col)

print(object_dtype_list) #a list of columns with the "object" datatype

['Name', 'Platform', 'Genre', 'Publisher', 'User_Score', 'Developer', 'Rating']

In [92]:
mixed_dtype_list = []

for col in object_dtype_list:
    dtypes = salesDF[col].apply((lambda x: type(x))).value_counts()
    
    if len(dtypes)>1:
        mixed_dtype_list.append(col)
        

print(mixed_dtype_list)

['Name', 'Genre', 'Publisher', 'User_Score', 'Developer', 'Rating']

In [93]:
#No columns have a mixed data type.

2.3 Stripping trailing whitespaces and converting string values to lowercase.

In [94]:
for col in salesDF.columns.to_list():
    for value in col: 
        value = value.strip()
        if type(value) == str:
            value = value.upper()